body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.textColor {
    color: hsl(blue, 100%, 50%);
}

input {
    margin: 5px 0;
    padding: 5px;
    min-width: 250px;
    border: 1px solid black;
    border-radius: 5px;
}

button {
    margin: 5px;
    margin-left: 0;
    background: #41A5E1;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

button:focus {
    background: #3d6d8a;
}